#menuBG {
    width:400px;
    height:470px;
    margin:10px auto;
}

/*This shows the size of the menu used for online ordering.
The width and height of the lists of sizes and toppings correlates with this width and height.*/
#frmMenu {
    width:600px;
    height:200px;
}

#totalPrice {
    width:200px;
    height:190px;
    margin:20px auto;
    float:right;
}
/*This properly aligns the selections while staying at the same height*/
.left {
    width:200px;
    height:200px;
    float:left;
}

.center{
   width:200px;
   height:200px;
   float:left;
}

.right {
    width:200px;
    height:200px;
    float:right;
}
/*This aligns the total for the pizza order*/
#showText {
    width:200px;
    height:190px;
    margin:0px auto;
    float:left;
}

#cart {
    top:0;
    margin:0px auto;
    width:400px;
    height:200px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px;
    display: block;
    margin: 25px auto;
}
/*This was the assignment for adding CSS to these elements*/
body {
    background-color: lightseagreen;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:darkslategray;
    text-align:center;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(54, 63, 63);
}

div {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(28, 13, 83);
}


